
ul {
    width: 90%;
    margin: 5px;
    padding 5px;
    list-style-type: none;
    background: none;
}

li {
    display: inline-table;
    padding: 5px;
}

nav {
    width: 100%;
    height: auto;
    margin: 0;
    color: #fff;
}

body {
    margin: 0;
    font-size: 16px;
    font-family: sans-serif;
    font-feature-settings: normal;
}


header {
    background: #ad0f0f;
}

#canasContainer {
    text-align: center;
}

main {
    width: 920px;
    margin: 0 auto;
}

.cont {
    text-align: center;
}

.image {
      opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.imageContainer {
    position: relative;
    width: 50%;
    float: left;
}

.imageContainer:hover .image {
    opacity: 0.3;
}

.imageContainer:hover .middle {
    opacity: 1.0;
}

.middle {   
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center; 
    -webkit-box-shadow: 3px 7px 5px 1px rgba(204,204,204,1);
-moz-box-shadow: 3px 7px 5px 1px rgba(204,204,204,1);
box-shadow: 3px 7px 5px 1px rgba(204,204,204,1);
}

.text {
background-color: #ad0f0f;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

.LogoImage {
    width: 350px;
    height:auto;
    float: left;
}

.factory-backgorund {
    background-size: 100%;  
    background-repeat: no-repeat;
}

.factory {
   
}

.image-Container {
    width: 100%;
    float: left;
}
